* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}

.contents {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

nav ul li {
  margin: 0 1.5rem;
}

nav ul li a {
  text-decoration: none;
  padding: 1rem 2rem;
  color: azure;
  background-color: blueviolet;
  border-radius: 6px;
}

nav ul li a:hover {
  background-color: black;
  transition: background-color 1s ease;
}

@media (max-width: 599px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

img {
  max-width: 110%;
  height: auto;
}

.programcard {
  border: 1.5px solid black;
  padding: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blanchedalmond;
  display: none;
}

.lightbox:target {
  display: flex;
  justify-content: center;
  align-items: center;
}
